*{
    margin: 0;
    padding: 0;
}
ol,li,dl {
    list-style: none;
}
a{
    text-decoration: none;
}
#family{
    width: 400px;
    background-color: #000;
    margin: 200px auto;
    text-align: center;
    position: relative;
}
#family button{
    display: block;
    width: 100%;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    border: 0;
    



}
#family ul{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: all 1s ease-in-out;

}
#family li{
}
#family li a{
    color: #fff;
    display: block;
    line-height: 50px;
    border-bottom: solid 1px #fff;
}
#family li a:last-child{
    border-bottom: none;
}

.slide{
    height: 255px !important; 
}