*{
    margin: 0;
    padding: 0;
}
#open-btn{
    display: block;
    font-size: 2em;
    background-color: #fff;
    color: #ccc;
    text-align: center;
    line-height: 4;
    width: 20%;
    border: 0%;
    margin: 100px auto 0; 
    /* 상/좌우/하 */
    box-shadow: 15px 15px 20px;
    cursor: pointer;
}
#popup-box{
    position: fixed;
    width: 600px;
    height: 400px;
    background-color: #ccc;
    color: #fff;
    top: calc(50% - 200px);
    /* 50%내려오는데 왼쪽상단기준이니까 가운데 정렬이 아니게됨
    그래서 가로값의 절반인 200px를 적용하면 가운데로 오게됨 */
    left: calc(50% - 300px);
    text-align: right;
    display: none;
}
#popup-box span{
    display: inline-block;
    font-size: 3em;
    cursor: pointer;
    padding: 20px;
}
#popup-box p{
    margin-top: 100px;
    text-align: center;

}
.show{
    display: block !important;
}
