*{
    margin: 0;
    padding: 0;
}
#open-btn{
    display: block;
    font-size: 2em;
    background-color: #ccc;
    color: #000;
    text-align: center;
    line-height: 4;
    width: 20%;
    border: 0;
    margin: 100px auto 0; 
    /* 상/좌우/하 */
    box-shadow: 15px 15px 20px;
    /* x축/y축/블러값 */
    cursor: pointer;
}
#popup-box{
    position: fixed;
    max-width: 800px;
    min-width: 300px;
    width:100%;
    max-height: 400px;
    min-height: 100px;
    height: 100%;
    background-color: #ccc;
    color: #000;
    display: none;
    left: 0;
    top: 0;

}

#popup-box > div{
    position: absolute;
    width: calc(100vw - 400px);
    height: calc(100vh - 400px);
    background-color: #fff;
    color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: right;
}
#popup-box span{
    display: inline-block;
    font-size: 3em;
    cursor: pointer;
    padding: 20px;
}
#popup-box p{
    margin-top: 100px;
    text-align: center;

}
.show{
    display: block !important;
}
