*{
    margin: 0;
    padding: 0;
}
ul,ol,dl{
    list-style: none;
}

#container{
    width: 40vw;
    margin: 5vh auto 0;
    display: flex;
    justify-content: center;
    border: solid 1px #000;
    background-color: #ccc;

}
#container .li-box{
    width: 50%;
}
#container .li-box input{
    display: none;
    line-height: 50px;
}
#container .li-box label{
    display: block;
    background-color: antiquewhite;
    text-align: center;
    line-height: 3;
}
#container .li-box .box{
    display: flex;
    justify-content: space-between;
    border: solid 1px #000;
}

#contaniner 
#container .li-box .box ul{}
#container .li-box .box ul li{}
#container .li-box .box2{}
#container .li-box .box2 p{}
#container .li-box .box3{}
#container .li-box .box3 p{}

